
<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(http://www.artranked.com/images/47/4763eca12a3ac6baa4a131bdd2dadaea.jpg); background-size: cover; background-position-y: 35%; background-repeat: no-repeat;">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <!-- Content -->
      <h1 class="card-title h1 my-4 py-2">La Team</h1>
      

    </div>
  </div>
</div>
<!-- Jumbotron -->

<p class="lead ml-3 my-4 text-center">
  Salut les ami(e)s ! Voici les createurs de The Gossip Project :
  <ul>
    <li class="text-center">Nicolas Hodee & Aurore Carriere</li>
  </ul>
</p>
