<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://www.gannett-cdn.com/-mm-/a481916a9da4934da6f90fc763e8898a9ede1f3d/c=0-248-4928-3032/local/-/media/2015/03/09/USATODAY/USATODAY/635614896634033242-SISTINE-FRESCOS-008-54671487.JPG?width=3200&height=1680&fit=crop); background-size: cover; background-position-y: 35%; background-repeat: no-repeat;">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">
      <!-- Content -->
      <h2 class="card-title h2 my-4 py-2">Tu veux nous contacter ?</h2>
      

    </div>
  </div>
</div>
<!-- Jumbotron -->


<p class="lead ml-3 my-4">Eh bien prie mon jeune enfant. </span></p>
